{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}

    <a href="{{ path('account') }}" class="btn btn-light btn-sm">Retourner a mon compte</a><br>
    <hr>
    <div class="loginh">
        <h2 style="text-align: center; color: #c72026">Modifier mon mot de passe</h2><hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}
    </div>


{% endblock %}
