{% extends 'base.html.twig' %}

{% block title %}Qui somme nous !{% endblock %}

{% block content %}
    <div class="page-title-wrapper">
        <h1 class=" text-center" style="color: #c72026; font-size: 17;margin-bottom:10px">À Propos De Nous </h1>
    </div>

    <div class="container mb-5" style="color:black;">
        <div class="row">
            <div class="col-md-10 offset-md-1 card" style="padding:20px">


                <div class="rte">
                    <p><strong style="color: red">BICC</strong> est le leader en matière de vente de matériel informatique en Tunisie depuis des années. Dotée d’une expérience de plus de 7 ans et constituée d’une équipe de passionnés de nouvelles technologies, la société de <span style="text-decoration: underline;">vente de produits High Tech</span></span></span> arrive à satisfaire une clientèle des plus exigeantes.</p>
                    <p>En effet, ayant pour souci constant de faciliter la vie de ses clients et d’assouvir leurs besoins en matière de nouvelles technologies, <strong style="color: red">BICC</strong> est toujours à l’écoute de leurs besoins et arrive à adapter son offre à leurs désirs et préférences.</p>
                    <p>Ainsi vous trouverez sur le site toute les nouveautés du moment&nbsp;à des prix très concurrentiels&nbsp;: Ordinateurs, Smartphones, Smart TV, téléviseurs, consoles de jeux, appareils photos….</p>
                    <h3>Commande en ligne</h3>
                    <p>Pour plus de facilité, <strong style="color: red">BICC</strong> donne à ses clients la possibilité de commander leurs produits en ligne et en toute simplicité. Vous hésitez encore concernant un produit ou vous avez besoin de plus d’informations&nbsp;? Appelez au 26&nbsp;277&nbsp;221 de 9h à 18h (Hors Weekend). Un vendeur qualifié répond à toutes vos questions.</p>
                    <p>Une fois que vous êtes sur de votre choix, <span style="text-decoration: underline;"><span style="color: #0000ff;"><a href="{{ path('register') }}"><span style="color: #0000ff; text-decoration: underline;">créez votre compte</span></a></span></span>, ajoutez le produit au panier et validez.</p>
                    <h3>Moyen de paiement</h3>
                    <p><strong style="color: red">BICC</strong> , Les produits réservés vous seront par la suite livrés à l’adresse souhaitée où sera effectué le paiement. Vous pouvez également choisir de payer au niveau de l’un de nos points de vente à la réception du produit. Notre société accorde également à ses clients des facilités de paiement allant jusqu’à 12 mois.</p>
                    <h3>Service après-vente</h3>
                    <p>Tous les produits proposés par <strong style="color: red">BICC</strong> sont garantis de la part du constructeur contre les vices de fabrication et tout éventuel dysfonctionnement. La durée de la garantie diffère selon le type de produit (Voir la fiche produit). Une question&nbsp;? Un problème technique&nbsp;?</p>
                    <p>Nous travaillons avec les meilleurs centres de maintenance en Tunisie. Avec <strong style="color: red">BICC</strong>, vous ne serez que satisfaits.</p>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
